:host {
  --primary-color: #007cb9;
  --empty-color: #d9dad7;
  --easy-color: #e46161;
  --medium-color: #fcff82;
  --strong-color: #42b883;
}

.password-strength {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5px;
  justify-content: center;
  padding: 10px;
}

.strength-section {
  border-radius: 4px;
  height: 10px;
}

.gray {
  background-color: var(--empty-color);
}

.red {
  background-color: var(--easy-color);
}

.yellow {
  background-color: var(--medium-color);
}

.green {
  background-color: var(--strong-color);
}

label,
input {
  display: block;
}

label {
  color: var(--primary-color);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10pt;
}

input[type="password"] {
  border: solid 1px var(--primary-color);
  padding: 10px;
  border-radius: 8px;
  display: inline-block;
  margin-right: 4px;
  width: 100%;
}

input:focus {
  border: solid 1px transparent;
  outline: solid 1px var(--primary-color);
}
